<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理</title><body class="gray-bg top-navigation">
    #include("/index/include.vm")

<div id="">
    <div id="page-wrapper" class="gray-bg">
        #include("/index/header.vm")
        <div id="addConfig"></div>
        <body>
        <div class=" animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <button class="btn btn-success " type="button"
                                    onclick="addConfig();">
                                <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">添加</span>
                            </button>

                        </div>
                        <div class="ibox-content" >
                            <table id="listTable"
                                   class="table table-striped table-bordered">
                                <thead>
                                <tr nowrap="nowrap" role="rows">
                                    <th>用户名称</th>
                                    <th>业务线名称</th>
                                    <th>手机号</th>
                                    <th>邮箱</th>
                                    <th>创建时间</th>
                                    <th>最近修改人</th>
                                    <th>编辑/删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var site = "user"
            function addConfig(){
                url = "/resource/configure/"+site+"/add";
                html = post({}, url);
                $('#addConfig').html(html);
                $('#add_getui_config').modal('toggle');
            }
            function updateConfig(id){
                url = "/resource/configure/"+site+"/detail";
                html = post({id:id}, url);
                $('#addConfig').html(html);
                $('#add_getui_config').modal('toggle');
            }
            function deleteConfig(id){

                url = "/resource/configure/"+site+"/delete";
                parent.layer.confirm("点击同意后,将删除数据", {
                    btn: ['同意','不同意'], //按钮
                    shade: false//不显示遮罩
                }, function(){
                    result = post({id:id}, url);
                    parent.layer.msg(JSON.stringify(result),  {icon:1})
                    $('#listTable').dataTable().fnReloadAjax();
                }, function(){
                    parent.layer.msg("取消操作",  {icon:2})
                });

            }
            function saveConfig(id){
                data = get_form_data();
                if(id){
                    data["userId"] = id;
                }
                url = "/resource/configure/"+site+"/save";
                result = post(data, url);
                parent.layer.msg(JSON.stringify(result),  {icon:1});
                //$('#add_getui_config').modal('toggle');
                $('#listTable').dataTable().fnReloadAjax();
            }
            function loadData(){
                $("#listTable").dataTable({
                    "filter": false,//去掉搜索框
                    "ordering": false, // 是否允许排序
                    "paginationType": "full_numbers", // 页码类型
                    "destroy": true,
                    "processing": true,
                    "serverSide": true,
                    "displayLength": 10, // 默认长度
                    "ajax": { // 请求地址
                        "url": "/resource/configure/"+site+"/listData?t=" + new Date().getTime(),
                        "type": 'post'
                    },

                    "columns": [ // 数据映射
                        {"data": "userName"},
                        {"data": "groupsName"},
                        {"data": "mobile"},
                        {"data": "email"},
                        {"data": "lastModifyTime","mRender":function (data) {
                            return data;
                        }},
                        {"data": "lastModifyUser"},
                        {"sWidth": "150px", "data": "userId", "mRender": function(data, type, full) {
                            return '<button type="button" onclick="updateConfig('+data+')" class="btn btn-sm btn-warning">编辑</button>&nbsp;'+
                                    '<button type="button" onClick="deleteConfig('+data+')" class="btn btn-sm btn-danger">删除</button>';
                        }
                        },
                    ],
                    "fnRowCallback": function (row, data) { // 每行创建完毕的回调
                        $(row).data('recordId', data.recordId);
                    }
                });
            }

            loadData();

        </script>
        </body>
</html>
