<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>监控top图</title>
    #include("/index/include.vm")

</head>
<body class="top-navigation">
<style>
  .iframe-border{
      border-top:1px solid #e0e0f0;
      border-left:1px solid #e0e0f0;
      border-bottom:1px solid #e0e0f0;
  }
</style>

<link rel="stylesheet" href="/static/css/farbtastic.css" type="text/css" />
<script type="application/javascript" src="/static/js/monitor.js"></script>
<script type="text/javascript" src="/static/js/farbtastic.js"></script>


<div id="wrapp11er">
    <div id="page-wrapp1er" class="gray-bg">
      #include("/index/header.vm")
      <script src="/static/js/monitor/go.js"></script>

<div class="modal fade" id="add_getui_config" tabindex="-1"
     role="dialog" style="background-color: #FfFfFf; margin-top: 0px;"
     data-backdrop="false">
    <div class="modal-dialog"
         style="margin-top: 0px; width: 100%; ">
        <div class="odal-content"
             style=" width: 100%; border-bottom: none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="animated fadeInRight">
                    <div class="col-md-12">
                    <iframe style="border: solid 0px black; width:100%; height:900px"  scrolling="no" id="new_iframe_page">
                    </iframe>
                    </div>
                </div>
            </div>
         </div>
      </div>
</div>

<div class="modal fade" id="show_server_detail" tabindex="-1"
     role="dialog" style="background-color: #FfFfFf; margin-top: 0px;"
     data-backdrop="false">
    <div class="modal-dialog"
         style="margin-top: 0px; width: 60%; ">
        <div class="odal-content"
             style=" width: 100%; border-bottom: none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="animated fadeInRight">
                    <div class="col-md-12" id="show_server_detail_html">
                    </div>
                </div>
            </div>
         </div>
      </div>
</div>

      <div class="col-md-12">
        <span style="margin-left:10px;font-size:20px;">监控TOP图</span>
        <code>双击图像可以进行编辑和删除</code>
        <a ><span onclick="to_top_id('left')" class="glyphicon glyphicon-hand-left" style="font-size:17px;margin-left:10px;" aria-hidden="true">向左</span></a>
        <a><span onclick="to_top_id('right')" class="glyphicon glyphicon-hand-right" style="font-size:17px;margin-left:10px;" aria-hidden="true">向右</span></a>
        <button style="margin-left: 41%;margin-top:5px;"
                            onclick="full_imgage($!{topId});" class="btn btn-warning btn-outline btn-sm"
                            type="button">
                        <i class="fa fa-desktop"></i>&nbsp;<span id="delete_top_text_id">全屏显示</span>
        </button>
        <button style="margin-left: 79%;margin-top:-54px;"
                            onclick="save_imgage($!{topId});" class="btn btn-success btn-outline btn-sm"
                            type="button">
                        <i class="fa fa-check"></i>&nbsp;<span id="delete_top_text_id">保存图像</span>
        </button>
        <button style="margin-left: 86%;margin-top: -90px;"
                            onclick="delete_select_image();" class="btn btn-danger btn-outline btn-sm"
                            type="button">
                        <i class="fa fa-close"></i>&nbsp;<span id="delete_top_text_id">删除该图像</span>
        </button>
        <button style="margin-left: 94%;margin-top: -124px;"
                            onclick="show_hide_edit();" class="btn btn-primary btn-outline btn-sm"
                            type="button">
                        <i class="fa fa-eye"></i>&nbsp;<span id="edit_top_text_id">隐藏编辑</span>
        </button>
        </div>
   <form>
        <div class="col-md-12" style="margin-top:-50px;">
            <div class="form-group">
                <div class="col-md-8 iframe-border" id="top_iframe_width_id">
                    <iframe src="/monitor/top/topIframe" style="border: solid 0px black; width:100%; height:4900px" id="topIframe" scrolling="no" >
                    </iframe>
                </div>
            <div id="edit_top_id">
                </p>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:10px;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">图像名称:</label>
                        <div class="col-sm-8">
                            <input type="text" name="description" class="form-control" id="global_description"
                                   value="$!{imageName}" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="border-top:1px solid #f0f0f0; border-left:1px solid #f0f0f0;margin-top:10px;">
                    <p>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">图标类型:</label>
                       <div class="col-sm-8">
			        <div class="checkbox checkbox-warning checkbox-inline">
			            <input type="radio" name="graphType" id="inlineCheckbox1" value="image"
			        	   onchange="change_type(1)">
			            <label for="inlineCheckbox1"> 图像</label>
			        </div>
			        <div class="checkbox checkbox-success checkbox-inline">
			            <input type="radio" name="graphType" id="inlineCheckbox2" value="text"
			        	   onchange="change_type(2)">
			            <label for="inlineCheckbox2"> 文本</label>
			        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:10px;float:left;display:block;">
                    <label class="col-sm-4 control-label">IP:</label>
                      <div class="col-sm-8">
                        <input type="text" style="float:left;width:90%;" name="ip" class="form-control" id="top_ip" value="$!{configs.ip}" onchange="$('#top_src').val('')">
                        <div class="checkbox  checkbox-inline checkbox-primary" title="显示IP标题" style="float:left;margin-top:-30px;margin-left:94%;">
                            <input type="checkbox" name="showIp" id="show_ip_title" style="float:left;"  value="1">
                            <label for="show_ip_title"> </label>
                        </div>
                      </div>
                </div>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:10px;display:none;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">描述:</label>
                        <div class="col-sm-8">
                            <input type="text" name="top_description" class="form-control" id="top_description"
                                   value="$!{configs.description}" placeholder="连接点的信息">
                        </div>
                    </div>
                </div>
                </p>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:10px;display:none;" id="image_type_select_text">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">文本内容:</label>
                        <div class="col-sm-8">
                            <textarea type="text" name="topText" class="form-control" id="top_text"
                                   value="$!{configs.topText}" placeholder="文本内容"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:10px;display:none;"  id="image_type_select_images">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">图标选择:</label>
                        <div class="col-sm-8">
                           <div id="top_select_images_div">
                              <select class="selectpicker bla bla bli form-control" data-live-search="true" onchange="change_image($(this).val(),'')" id="top_select_images">
                                #foreach($img in $images)
                                  <option value="${img.name}">${img.name}</option>
                                #end
                               </select>
                            </p>
                            </div>
                            <div style="border:1px solid #f0f0f0;padding:10px;">
                                <img src="" id="select_images">
                            </div>
                            </p>
                        </div>
                    <label class="col-sm-4 control-label">图标大小:</label>
                    <div class="col-sm-8">
                        <select class="bla bla bli  form-control" data-live-search="true" onchange="change_image('',$(this).val())">
                          <option value="24">24</option>
                          <option value="48">48</option>
                          <option value="64">64</option>
                          <option value="96">96</option>
                          <option value="128">128</option>
                        </select>
                    </div>
                    </div>
                </div>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:10px;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">左聚焦:</label>
                        <div class="col-sm-8">
                            <input type="number" name="left" class="form-control" id="top_left"
                                   value="$!{configs.left}">
                        </div>
                        <label class="col-sm-4 control-label">上聚焦:</label>
                        <div class="col-sm-8" style="margin-top:10px;">
                            <input type="number" name="top" class="form-control" id="top_top"
                                   value="$!{configs.top}">
                            <p>
                            <p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:10px;">
                        <label class="col-sm-4 control-label">环形top:</label>
                        <div class="checkbox  checkbox-inline checkbox-primary" title="圆形top图自动生成" style="float:left;">
                            <input type="checkbox" name="circleTop" id="circleTop" style="float:left;"  value="1" onChange="change_circle()">
                            <label for="circleTop"></label>
                        </div>
                </div>

            <div id="show_circle_top_id" style="display:none;">
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:10px;">
                        <label class="col-sm-4 control-label">子图标选择:</label>
                        <div class="col-sm-8">
                           <div id="top_select_images_div">
                              <select class="selectpicker bla bla bli form-control" data-live-search="true" onchange="change_image($(this).val(),'', 'select_images_circle')" id="top_select_images_circle">
                                #foreach($img in $images)
                                  <option value="${img.name}">${img.name}</option>
                                #end
                               </select>
                            </p>
                            </div>
                            <div style="border:1px solid #f0f0f0;padding:10px;">
                                <img src="" id="select_images_circle">
                            </div>
                            </p>
                        </div>
                </div>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:5px;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">子设备指标:</label>
                        <div class="col-sm-8">
                            <textarea type="text" rows="5" title="指标名称例如: loadavg|system.load.1" class="form-control" id="topLinkValueCircle" placeholder="指标名称例如: loadavg|system.load.1"
                                   value=""></textarea>
                        </div>
                    </div>
                </div>
            </div>

                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:10px;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">key:</label>
                        <div class="col-sm-8">
                            <input type="text" name="key" readonly title="设备的key" class="form-control" id="top_src" placeholder="设备的key"
                                   value="$!{configs.key}">
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:10px;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">连接到节点:</label>
                        <div class="col-sm-8">
                            <input type="text" name="to" readonly title="当前设备链接的目标设备的key" class="form-control" id="top_to" placeholder="当前设备链接的目标设备的key"
                                   value="$!{configs.to}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:10px;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">连接到TOP图:</label>
                        <div class="col-sm-8">
                            <select class="selectpicker bla bla bli form-control" data-live-search="true" style="margin-top:10px;" id="imageConnectTopId">
                                <option value="">----</option>
                                #foreach($top in $tops)
                                  <option value="$!{top.topId}">$!{top.imageName}</option>
                                #end
                            </select>
                        </div>
                    </div>
                </div>

           <div id="set_link" style="border-left:1px solid #f0f0f0;margin-top:10px;">
                <div class="col-md-4"><br></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">线条设置:</label>
                        <div class="col-sm-8">
                           <div id="top_select_images_div">
                              <select class="form-control" data-live-search="true" onchange="" id="topLinkType">
                                  <option value="link">简单连线</option>
                                  <option value="link2">简单连线-虚线</option>
                                  <option value="foldLink">折线</option>
                                  <option value="foldLink2">折线-虚线</option>
                                  <option value="flexionalLink">二次折线</option>
                                  <option value="flexionalLink2">二次折线-虚线</option>
                                  <option value="curveLink">曲线</option>
                               </select>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:5px;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">线条粗细:</label>
                        <div class="col-sm-8">
                            <input type="number" name="topLinkSize" title="连接线条粗细" class="form-control" id="topLinkSize" placeholder="连接线条的粗细"
                                   value="1">
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:5px;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">线条值指标:</label>
                        <div class="col-sm-8">
                            <textarea type="text" rows="5" name="topLinkValue" title="指标名称例如: loadavg|system.load.1" class="form-control" id="topLinkValue" placeholder="指标名称例如: loadavg|system.load.1"
                                   value=""></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="border-top:1px solid #f0f0f0;border-left:1px solid #f0f0f0;margin-top:15px;">
                    <div class="form-group">
                        <label class="col-sm-12 control-label">告警数据配置:</label>
                    </div>
                </div>

                <div class="col-md-4" style="border-left:1px solid #f0f0f0;margin-top:5px;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">更新间隔:</label>
                        <div class="col-sm-8">
                            <input type="number" title="更新间隔" class="form-control" id="metricUpdateTime" placeholder="15"
                                   value="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4" title="只支持16进制" style="margin-top:10px;">
                    <div class="form-group">
                             <label class="col-sm-4 control-label">文字颜色:</label>
                             <div class="col-sm-8">
                                 <input type="text" id="topLinkTextColor"  class="form-control"  style="width:50%;float:left;background-color:#7e7272" value="#7e7272">
                                 <button onclick="$('#pickerbasecolor').hide();" class="btn btn-outline btn-md" type="button">
                                      <i class="fa fa-eye"></i>&nbsp;隐藏 
                                 </button>
                                 <div id="pickerbasecolor1" style="float:left;"></div>
                                      <script>
                                        $("#topLinkTextColor").click(function(){
                                           v= $("#topLinkTextColor").val()
                                           if(!v){
                                               $("#topLinkTextColor").val("#7e7272")
                                           }
                                           $('#pickerbasecolor1').farbtastic('#topLinkTextColor');
                                           $("#pickerbasecolor1").show(); 
                                           setTimeout(function(){
                                              $("#pickerbasecolor1").hide(); 
                                           }, 4000)
                                        })
                                      </script>
                             </div>
                         </div>
                     </div>
                </div>
                <div class="col-md-4" title="只支持16进制" style="margin-top:10px;">
                    <div class="form-group">
                             <label class="col-sm-4 control-label">线条颜色:</label>
                             <div class="col-sm-8">
                                 <input type="text" id="topLinkColor"  class="form-control"  style="width:50%;float:left;background-color:#abff47" value="#abff47">
                                 <button onclick="$('#pickerbasecolor').hide();" class="btn btn-outline btn-md" type="button">
                                      <i class="fa fa-eye"></i>&nbsp;隐藏 
                                 </button>
                                 <div id="pickerbasecolor" style="float:left;"></div>
                                      <script>
                                        $("#topLinkColor").click(function(){
                                           v= $("#topLinkColor").val()
                                           if(!v){
                                               $("#topLinkColor").val("#abff47")
                                           }
                                           $('#pickerbasecolor').farbtastic('#topLinkColor');
                                           $("#pickerbasecolor").show(); 
                                           setTimeout(function(){
                                              $("#pickerbasecolor").hide(); 
                                           }, 4000)
                                        })
                                      </script>
                             </div>
                         </div>
                     </div>
                </div>
                </form>
                <div class="col-md-4" style="border-left:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;">
                    <button style="margin-left: 66%;margin-top: 15px;margin-bottom: 10px;" onclick="saveConfig($!{configs.topId});" class="btn btn-primary btn-md" type="button">
                        <i class="fa fa-check"></i>&nbsp; 保存
                    </button>
                </div>
            </div>
         </div>
      </div>

<textarea id="myS" style="width:100%;height:300px;display:none;">
{"nodeDataArray":[
   {"img":"firewall.png", "x":100,"y":200, "key":"1"},
   {"img":"server.png", "x":200,"y":200, "key":"2"},
   {"img":"server.png", "x":300,"y":200, "key":"3"},
   {"img":"server.png", "x":400,"y":200, "key":"4"},
   {"img":"router2.png", "x":600,"y":400, "key":"7"},
   {"img":"server.png", "x":300,"y":300, "key":"8"},
   {"img":"server.png", "x":400,"y":300, "key":"6"},
   {"img":"server.png", "x":500,"y":200, "key":"5"}],
 "linkDataArray":[
   {"src":"1","to":"2"},
   {"src":"4","to":"3"},
   {"src":"4","to":"5"},
   {"src":"4","to":"6"},
   {"src":"4","to":"7"},
   {"src":"4","to":"8"}
  ]
}
{"nodeDataArray":[
   {"img":"firewall.png", "x":100,"y":200, "key":"1"}
 ],
 "linkDataArray":[
   {"src":"1","to":"1"}]
}
 </textarea>

<textarea id="mySavedModelDelete" style="display:none;">
</textarea>

<textarea id="check_is_set_status" style="display:none;" ></textarea>
<!-- 获取每个图标数据更新的时间 -->
<div id="top_node_data_update_time" style="display:none;">
</div>

<!-- 存放top跳转的topid按顺序排放，按顺序返回-->
<textarea id="save_top_topid_data" style="display:none;">$!{topId}</textarea>
<input id="save_top_topid_data_current" type="hidden" value="0">

<input id="moveTopSettimeout" type="hidden">
<input id="timerintervaldata" type="hidden">
<input id="showFullImage" type="hidden">
<textarea id="mySavedModel" style="width:100%;height:40px;display:none;">
 #if($gsonData)
     ${gsonData}
 #else
     {"nodeDataArray":[],"linkDataArray":[]}
 #end
</textarea>
</div>

<div class="animated fadeInRight" style="margin-left:0px;">
        <div class="col-sm-12">
            <table id="listTable"
                   class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                <tr nowrap="nowrap" role="rows">
                    <th>图像名称</th>
                    <th>创建时间</th>
                    <th>创建用户</th>
                    <th>编辑/删除</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <script>

       function change_circle(){
         if($("#circleTop").is(":checked")){
            $("#show_circle_top_id").show()
         }else{
            $("#show_circle_top_id").hide()
         }
       }
      
       // 获取图像类型
       function change_type(v){
           if(v==1){
               $("#image_type_select_text").hide();
               $("#image_type_select_images").show();
           }
           if(v==2){
               $("#image_type_select_text").show();
               $("#image_type_select_images").hide();
           }
       }

var fullscreen=function(){  
    elem=document.body;  
    if(elem.webkitRequestFullScreen){  
        elem.webkitRequestFullScreen();     
    }else if(elem.mozRequestFullScreen){  
        elem.mozRequestFullScreen();  
    }else if(elem.requestFullScreen){  
        elem.requestFullscreen();  
    }else{  
        //浏览器不支持全屏API或已被禁用  
    }  
}  

function exitFullscreen(){
    if (document.exitFullscreen) {
      document.exitFullscreen();
    } else if (document.msExitFullscreen) {
      document.msExitFullscreen();
    } else if (document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
    } else if(document.oRequestFullscreen){
         document.oCancelFullScreen();
    }else if (document.webkitExitFullscreen){
      document.webkitExitFullscreen();
    }else{
     var docHtml  = document.documentElement;
     var docBody  = document.body;
     var videobox  = document.getElementById('videobox');
     docHtml.style.cssText = "";
     docBody.style.cssText = "";
     videobox.style.cssText = "";
     document.IsFullScreen = false;
    }
}

$(function () { $('#add_getui_config').on('hide.bs.modal', function () {
     exitFullscreen();
     $("#showFullImage").val(0);
 })
});



      function to_top_id(t){
           // 更新数据
           var old = $("#save_top_topid_data").val().split(",")
           var current = $("#save_top_topid_data_current").val()
           if(parseInt(current) == 0 && t == "left" ){
                parent.layer.msg("已经是第一个TOP图啦", {icon: 2});
                return
           }
           if(parseInt(current) >= old.length && t == "right" ){
                parent.layer.msg("已经是最后一个TOP图啦", {icon: 2});
               return
           }
           if(t=="left"){
             current = parseInt(current) - 1
           }
           if(t=="right"){
             current = parseInt(current) + 1
           }
           var topId = old[current]
           $("#save_top_topid_data_current").val(current)
           url = "/monitor/top/listData?start=1&length=2&draw=1&topId="+topId
           var tdata = post({}, url)
           tdata = tdata["data"][0]["gsonData"]
           $("#mySavedModel", parent.document).val(tdata)
           // 刷新
           $("#topIframe", parent.document).attr("src", "/monitor/top/topIframe");
      }

       function full_imgage(){
           $("#showFullImage").val(1);
           $("#new_iframe_page").attr("src", "/monitor/top/topIframe");
           $('#add_getui_config').modal('toggle');
           fullscreen()         
       }


       function change_image(val,size, id){
          if(!val){
            val = $("#top_select_images").val();
          }
          if(size){
             val = val.replace(/_24/, "_"+size) 
             val = val.replace(/_48/, "_"+size) 
             val = val.replace(/_64/, "_"+size) 
             val = val.replace(/_96/, "_"+size) 
             val = val.replace(/_128/, "_"+size) 
             $("#top_select_images").val(val);
           }
              $('#'+id).prop('src', '/static/top/img/statistics/'+val)
           if(id){
           }else{
              $('#select_images').prop('src', '/static/top/img/statistics/'+val)
          }
      }

       function loadImage(topId){
            url = "/monitor/top/top?topId="+topId
            window.location=url;
       }


       function save_imgage(id){
        data = get_form_data();
        if (!id){
            id = 0
        }
        data["topId"] = id
        gson_data = $("#mySavedModel").val()
        data["gsonData"] = gson_data
        data["imageName"] = $("#global_description").val()
        url = "/monitor/top/save";
        result = post(data, url);
        parent.layer.msg(JSON.stringify(result),  {icon:1});
        $('#listTable').dataTable().fnReloadAjax();
       }

    function deleteConfig(id){
        url = "/monitor/top/deleteSave";
        parent.layer.confirm("点击同意后,将删除数据", {
            btn: ['同意','不同意'], //按钮
            shade: false//不显示遮罩
        }, function(){
            result = post({topId:id}, url);
            parent.layer.msg(JSON.stringify(result),  {icon:1})
            $('#listTable').dataTable().fnReloadAjax();
        }, function(){
            parent.layer.msg("取消操作",  {icon:2})
        });
    }


    function loadData(){
        $("#listTable").dataTable({
            "filter": true,//去掉搜索框
            "ordering": false, // 是否允许排序
            "paginationType": "full_numbers", // 页码类型
            "destroy": true,
            "processing": true,
            "serverSide": true,
            "scrollX": true, // 是否允许左右滑动
            "displayLength": 10, // 默认长度
            "ajax": { // 请求地址
                "url": "/monitor/top/listData?t=" + new Date().getTime(),
                "type": 'post'
            },

            "columns": [ // 数据映射
                {"data": "imageName"},
                {"data": "description","mRender":function (data,type,full) {
                       return data;
                }},
                {"data": "topComm","mRender":function (data,type,full) {
                      return data;
                }},
                {"data": "topId", "mRender": function(data, type, full) {
                    return '<button type="button" onClick="deleteConfig('+data+')" class="btn btn-sm btn-danger">删除</button>&nbsp;'+
                            '<button type="button" onClick="loadImage('+data+')" class="btn btn-sm btn-success">打开</button>'
                }
                },
            ],
            "fnRowCallback": function (row, data) { // 每行创建完毕的回调
                $(row).data('recordId', data.recordId);
            }
        });
    }

    loadData();
  
       // 删除选择的图像
       function delete_select_image(){
           var list = {};
           var data_1 = $("#mySavedModelDelete", parent.document).val().replace(/\n/g,"")
           var vdata_1 = JSON.parse(data_1);
           var src = vdata_1["key"]
           var to = vdata_1["to"]

           var data = $("#mySavedModel", parent.document).val().replace(/\n/g,"")
           var vdata = JSON.parse(data);
           var nodeData = vdata["nodeDataArray"]
           var linkData = vdata["linkDataArray"]
 
           var nodeDataNew = new Array();
           var linkDataNew = new Array();
           for(dataI=0;dataI<nodeData.length;dataI++){
               var d ;
               d = nodeData[dataI];
               if(d["key"] != src){
                   nodeDataNew.push(nodeData[dataI])
               }
           }
           for(dataI=0;dataI<linkData.length;dataI++){
               var d ;
               d = linkData[dataI];
               if(d["src"] != src && d["to"] != src){
                   linkDataNew.push(linkData[dataI])
               }
           }
           list["nodeDataArray"] = nodeDataNew
           list["linkDataArray"] = linkDataNew
           $("#mySavedModel", parent.document).val(JSON.stringify(list))
           $("#topIframe").attr("src", "/monitor/top/topIframe");
       }

       function show_hide_edit(){
           if($("#edit_top_id").is(":hidden")){
              $("#edit_top_id").show()
              $("#edit_top_text_id").html("隐藏编辑")
              $("#top_iframe_width_id").removeClass("col-md-12")
              $("#top_iframe_width_id").addClass("col-md-9")
           }else{
              $("#edit_top_id").hide()
              $("#edit_top_text_id").html("显示编辑")
              $("#top_iframe_width_id").removeClass("col-md-9")
              $("#top_iframe_width_id").addClass("col-md-12")
           }
       }

        function post(paramter, url) {
            var result = "";
            $.ajax({
                type: "POST",
                url: url,
                data: paramter,
                async: false,
                success: function (data) {
                    result = data;
                }
            });
            return result;
        }

        function getKey(ip, datas, graphType){
            url = "/resource/configure/server/listData"
            result = post({start:1, length:2,draw:1, "ipAddress":ip}, url)
            if (result["data"].length > 0){
                key_ = result["data"][0]["serverId"]
                for(i=0; i<datas.length; i++){
                    if(datas[i]["key"] == graphType + key_+""){
                        return "exists"
                    }
                }
                return key_
            }
            return ""
        }


        function get_value(obj, key, default_value){
            var value =  $("#"+key).val()
            if(value){
              obj[key] = value 
            }else{
              obj[key] = default_value 
            }
            return obj

       }


       function make_circle_data(nodeData, to){
          for(_i=0;_i<10;_i++){
              var _data = {}
              _data["key"] = "circle"+to+_i
              _data["to"] = to
              _data["x"] = null 
              _data["y"] = null 
              _data["text"] = $("#top_ip").val()+"_"+_i;
              _data["graphType"] = "image"; 
              _data["graphTypeCircle"] = "image"; 
              _data["description"] = $("#top_description").val();
              _data["img"] = $("#top_select_images").val();
              _data["circleTopImage"] = $("#top_select_images_circle").val();
              _data["topLinkValueCircle"] = $("#topLinkValueCircle").val();
              nodeData.push(_data)
          }
       }

       function make_circle_link_data(linkData, to){
          for(_i=0;_i<10;_i++){
              var _data = {}
              _data["src"] = "circle"+to+_i
              _data["to"] = to
              _data["topLinkType"] = "linkCircle"
              _data = get_value(_data, "topLinkTextColor",  "#55555"); // 默认
              _data = get_value(_data, "topLinkColor",  "#28ff28"); // 默认
              _data = get_value(_data, "topLinkValue",  ""); // 默认
              from["topLinkSize"] = $("#topLinkSize").val()
              linkData.push(_data)
          }
       }


        function saveConfig(){
            list = {};
            graphType = $('input[name="graphType"]:checked').val()
            models = go.Model.fromJson(document.getElementById("mySavedModel").value);
            nodeData = models.nodeDataArray;
            showIp = 0
            if($("#show_ip_title").is(":checked")){
               showIp = 1
            }
            if(nodeData.length == 0){
                _title = {} 
                _title["graphType"] = "text"
                _title["key"] = "text00001"
                _title["y"] =  10
                _title["x"] =  500 
                _title["img"] = "" 
                _title["topLinkType"] = "link" 
                _title["to"] = "text00001"
                _title["top_text"] = $("#global_description").val() ? $("#global_description").val() : "新图像"
                nodeData.push(_title)
            }

            _data = {}
            _data["showIp"] = showIp
            _data["text"] = $("#top_ip").val();
            _data["graphType"] = graphType; 
            lefts = $("#top_left").val();
            tops = $("#top_top").val();
            _data["x"] =  parseInt(lefts)
            _data["description"] = $("#top_description").val();
            _data["y"] = parseInt(tops);
            _data["top_text"] = $("#top_text").val(); 
            _data["img"] = $("#top_select_images").val();
            _data["circleTopImage"] = $("#top_select_images_circle").val();
            _data["topLinkValueCircle"] = $("#topLinkValueCircle").val();
            _data["topLinkSize"] = $("#topLinkSize").val();
            if($("#imageConnectTopId").val()){
                _data["imageConnectTopId"] = $("#imageConnectTopId").val()
            }

            _data = get_value(_data, "metricUpdateTime",  "15"); // 数据更新间隔 
            _data = get_value(_data, "topLinkValue",  ""); // 默认

            var old_to = $("#top_to").val()
            if(old_to.indexOf("image") == -1 && old_to.indexOf("text") == -1){
               _data["to"] = graphType + $("#top_to").val();
            }else{
               _data["to"] = $("#top_to").val();
            }


            _data["status"] = "danger";
            key = getKey(_data["text"], nodeData, graphType);
            if(key.length < 1){
                parent.layer.msg("资产没有这个节点", {icon: 2});
                return
            }


            if($("#circleTop").is(":checked")){
                 var key_ = ""
                 for(_i=0;_i<10;_i++){
                      key_  += "circle"+graphType + key+_i + ","
                 }
                _data["circleTop"] = 1
                _data["radius"] = 15;
                _data["circleLinks"] = key_;
            }
 
            // 文字颜色
             _data = get_value(_data, "topLinkTextColor",  "#55555"); // 默认
             _data = get_value(_data, "topLinkColor",  "#28ff28"); // 默认
             _data = get_value(_data, "topLinkType",  "link"); // 默认

            if(key == "exists"){
                for(dataI=0;dataI<nodeData.length;dataI++){
                   var d ;
                   d = nodeData[dataI];
                   if($("#top_src").val() == nodeData[dataI]["key"]){

                    var src = $("#top_src").val() ;
                    if(src.indexOf("image") == -1 && src.indexOf("text") == -1){
                        _data["key"] = graphType+ src 
                    }else{
                        _data["key"] = src 
                    }
                    nodeData[dataI] = _data
                   }
                }
            }else{
                _data["key"] = graphType + key+""
                nodeData.push(_data)
            }

            if($("#circleTop").is(":checked")){
                make_circle_data(nodeData, _data["key"])
            }

            list["nodeDataArray"] = nodeData
            var linkData = models.linkDataArray;

            if($("#top_to").val() && $("#top_src").val() ){
                from = {}
                from = get_value(from, "topLinkTextColor",  "#55555"); // 默认
                from = get_value(from, "topLinkColor",  "#28ff28"); // 默认
                from = get_value(from, "topLinkType",  "link"); // 默认
                from = get_value(from, "topLinkValue",  ""); // 默认
                from["topLinkSize"] = $("#topLinkSize").val()
                from["ip"] = $("#top_ip").val();
           
                if(key == "exists"){
                    from["src"] = $("#top_src").val() 
                }else{
                    from["src"] = graphType + key
                }


                var to = $("#top_to").val()
                if(to.indexOf("image") == -1 && to.indexOf("text") == -1){
                   from["to"] = graphType + $("#top_to").val()
                }else{
                   from["to"] = $("#top_to").val()
                }
                //from["status"] = "ok"
                if(key != "exists"){
                  linkData.push(from)
                }else{
                     if(linkData.length < 1) {
                        linkData.push(from)
                     }
                     var is_add = 0;
                     for(dataI=0;dataI<linkData.length;dataI++){
                        var d ;
                        d = linkData[dataI];
                        if($("#top_src").val() == linkData[dataI]["src"]){
                           var is_add = 1;
                           from["src"] = $("#top_src").val() 
                           linkData[dataI] = from 
                        }
                     }
                     if(is_add==0){
                        linkData.push(from)
                     }
                }
            }
            //make_circle_link_data(linkData, to);
            list["linkDataArray"] = linkData
            $("#mySavedModel").val(JSON.stringify(list))
            $("#topIframe").attr("src", "/monitor/top/topIframe");
        }

        if($("#top_key").val() == ""){
            $("#top_key").val(1)
        }
        if($("#top_left").val() == ""){
            $("#top_left").val(50)
        }
        if($("#top_top").val() == ""){
            $("#top_top").val(310)
        }


    </script>
