<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>监控图像自定义配置</title><body class="gray-bg top-navigation">
    #include("/index/include.vm")
<link rel="stylesheet" href="/static/css/farbtastic.css" type="text/css" />
<script type="application/javascript" src="/static/js/monitor.js"></script>
<script type="text/javascript" src="/static/js/farbtastic.js"></script>
<div id="">
    <div id="page-wrapper" class="gray-bg">
        #include("/index/header.vm")
        <div id="addConfig"></div>
        <body>

        <div class=" animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <button class="btn btn-success " type="button"
                                    onclick="addConfig();">
                                <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">添加</span>
                            </button>
                            <button class="btn btn-outline btn-primary " type="button"
                                    onclick="window.location='/monitor/graph/merger/template/list'">
                                <i class="fa fa-linux"></i>&nbsp;&nbsp;<span class="bold">模板配置</span>
                            </button>
                        </div>
                        <div class="ibox-content" style="overflow:scroll;">
                            <table id="listTable"
                                   class="table  table-bordered table-hover dataTables-example">
                                <thead>
                                <tr nowrap="nowrap" role="rows">
                                    <th>图像类型</th>
                                    <th>图像标题</th>
                                    <th>数据源数量</th>
                                    <th>图像宽度</th>
                                    <th>图像高度</th>
                                    <th>数据源颜色</th>
                                    <th>描述信息</th>
                                    <th>最近修改人</th>
                                    <th>最近修改时间</th>
                                    <th>编辑/删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var site = "graph/merger/images"
            function addConfig(id, clone){
                if(!id){
                    id=0;
                }
                if(!clone)
                {
                    clone = ""
                }
                url = "/monitor/"+site+"/add";
                html = post({id:id, clone:clone}, url);
                $('#addConfig').html(html);
                $('#add_getui_config').modal('toggle');
            }
            function deleteConfig(id){
                url = "/monitor/"+site+"/deleteSave";
                parent.layer.confirm("点击同意后,将删除数据", {
                    btn: ['同意','不同意'], //按钮
                    shade: false//不显示遮罩
                }, function(){
                    result = post({id:id}, url);
                    parent.layer.msg(JSON.stringify(result),  {icon:1})
                    $('#listTable').dataTable().fnReloadAjax();
                }, function(){
                    parent.layer.msg("取消操作",  {icon:2})
                });

            }

            /**
             *
             * @param data
             * @param key
             * @returns {*}
             */
            function getGsonData(data, key, default_value) {
                if (data){
                    data = JSON.parse(data)
                    return data[key]
                }
                if(default_value){
                 return default_value;
                }
                return ""
            }

            function loadData(){
                $("#listTable").dataTable({
                    "filter": false,//去掉搜索框
                    "ordering": false, // 是否允许排序
                    "paginationType": "full_numbers", // 页码类型
                    "destroy": true,
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true, // 是否允许左右滑动
                    "displayLength": 10, // 默认长度
                    "ajax": { // 请求地址
                        "url": "/monitor/"+site+"/listData?t=" + new Date().getTime(),
                        "type": 'post'
                    },
                    "columns": [ // 数据映射
                        {"data": "imagesGson", "mRender":function (data) {
                            return getGsonData(data, "imageTp")
                        }},
                        {"data": "imagesGson", "mRender":function (data) {
                            return getGsonData(data, "title")
                        }},
                        {"data": "imagesGson", "mRender":function (data) {
                            if (data){
                                data = JSON.parse(data)
                                return data["name"].split(",").length - 1;
                            }
                            return ""
                        }},
                        {"data": "imagesGson", "mRender":function (data) {
                            return getGsonData(data, "width",6)
                        }},
                        {"data": "imagesGson", "mRender":function (data) {
                            return getGsonData(data, "width", "250px")
                        }},
                        {"data": "imagesGson", "mRender":function (data) {
                            if (data){
                                data = JSON.parse(data)
                                color = data["color"].split(",");
                                names = data["name"].split(",");
                                html = ""
                                for(i=0;i<=color.length;i++){
                                    if(color[i]){
                                        html += "<span title='"+names[i]+"' style='display:-moz-inline-box;display:inline-block;background-color: "+color[i]+";width:"+100/(color.length-1)+"%;'>&nbsp;</span>"
                                    }

                                }
                                return html;
                            }
                            return ""
                        }},
                        {"data": "description"},
                        {"data": "lastModifyUser"},
                        {"data": "lastModifyTime","mRender":function (data) {
                            return data;
                        }},
                        {"sWidth": "150px", "data": "graphId", "mRender": function(data, type, full) {
                            return '<button type="button" onclick="addConfig('+data+')" class="btn btn-sm btn-warning">编辑</button>&nbsp;'+
                                    '<button type="button" onClick="deleteConfig('+data+')" class="btn btn-sm btn-danger">删除</button>&nbsp;' +
                                    '<button type="button" onClick="addConfig('+data+',1)" class="btn btn-sm btn-primary">克隆</button>';
                        }
                        },
                    ],
                    "fnRowCallback": function (row, data) { // 每行创建完毕的回调
                        $(row).data('recordId', data.recordId);
                    }
                });
            }

            loadData();

        </script>
        </body>
</html>
