<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title><body class="gray-bg top-navigation">
    #include("/index/include.vm")

<div id="">
    <div id="page-wrapper" class="gray-bg">
        #include("/index/header.vm")
        <div id="addConfig">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">&nbsp;&nbsp;修改密码/创建用户
                        <button class="btn btn-success pull-right" type="button"
                                onclick="window.location='/user/list'">
                            <i class="fa fa-user"></i>&nbsp;&nbsp;<span class="bold">用户管理</span>
                        </button>
                    </h4>

                </div>
                <div class="col-md-12" style="margin-top: 15px;">
                </div>
                <div class="col-md-12" style="margin-top: 5px;"></div>
                <div class="col-md-6">
                    <label class="col-sm-3 control-label">&nbsp;&nbsp;&nbsp;用户名</label>
                    <div class="col-md-6 multiple" STYLE="margin-left: -10PX;">
                        <input  class="form-control" name="username" id="username" value="$!{user}">
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 15px;">
                <div class="col-md-12" style="margin-top: 5px;"></div>
                <div class="col-md-6">
                    <label class="col-sm-3 control-label">旧密码</label>
                    <div class="col-md-6 multiple" STYLE="margin-left: -20PX;">
                            <input type="password" class="form-control" name="oldPassword" id="old">
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 15px;">
                </div>
                <div class="col-md-6">
                    <label class="col-sm-3 control-label">新密码</label>
                    <div class="col-md-6 multiple" STYLE="margin-left: -20PX;">
                        <input type="password" class="form-control" name="newPassword" id="new1">
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 15px;">
                </div>
                <div class="col-md-6">
                    <label class="col-sm-3 control-label">确认新密码</label>
                    <div class="col-md-6 multiple" STYLE="margin-left: -20PX;">
                        <input type="password" class="form-control" name="newPassword2" id="new2">
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 15px;">
                <button style="margin-left: 27%;margin-top: 5px;margin-bottom: 10px;"
                        onclick="saveConfig();" class="btn btn-primary btn-lg" type="button">
                    <i class="fa fa-check"></i>&nbsp;保存
                </button>
                    </br></div>
                </form>
            <code>使用admin用户登录在这里可以添加用户<br>
                不写旧密码</br>填写用户名和新密码保存即可</code>
        </div>
        <script>
            function saveConfig(){
                url = "/reset/save/password";
                new1 = $("#new1").val()
                old = $('#old').val()
                new2 = $("#new2").val()
                if(new1!=new2){
                    parent.layer.msg("新密码2次输入不一样",  {icon:2});
                    return
                }
                html = post({newPassword:new1,oldPassword:old,username:$("#username").val()}, url);
                parent.layer.msg(JSON.stringify(html),  {icon:1});
            }
        </script>
        </body>
</html>
