<!DOCTYPE html>
<html>

<head>

    #include("/index/include.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系统性能指标展示</title>

</head>
<script>
    function imageSelect(mselect, realtime) {

        if(mselect){
          $('#show_graph_select_ip').modal("toggle")
        }else{
            $('#show_graph_imgages').modal("toggle")
        }
        $.cookie("is_realtime","0");
        if(realtime){
            $.cookie("is_realtime", 1);
        }

    }
    function f_check_IP(id)
    {  var ip = document.getElementById(id).value;
        var re=/^(\d+)\.(\d+)\.(\d+)\.(\d+)$/;//正则表达式
        if(re.test(ip))
        {
            if( RegExp.$1<256 && RegExp.$2<256 && RegExp.$3<256 && RegExp.$4<256)
                return true;
        }
        return false;
    }
    function setIpAddress(value) {
        if (!f_check_IP('add_ip_address_id')){
            parent.layer.msg("ip地址格式有误",  {icon:2})
            return;
        }
        old = $('#select_all_ip_textarea').val();
        olds = old.split(",")
        news = ""
        for (i=0;i<olds.length;i++){
            if (olds[i] != value ) {
                news += olds[i] + "\n"
            }
        }
        news += value;
        $('#select_all_ip_textarea').val(news);
        $.cookie("select_all_ip_textarea", news);
    }
    $.cookie("select_all_ip_textarea", "$!{ip}");

    function selectAllImages() {
        parent.layer.msg("已选择服务器" + $('#select_all_ip_textarea').val(),  {icon:1})
        $.cookie("is_all_select",1);
        $('#show_graph_select_ip').modal("toggle");
        $('#show_graph_imgages').modal('toggle')
    }
    function clearAllImages() {
        $.cookie("is_all_select","");
        $.cookie("select_all_ip_textarea", "");
        $('#show_graph_select_ip').modal("toggle");
        window.location.reload();
    }
</script>

<style>
    .title-img{
        background-color: #f0f0f0;
        height: 45px;
        margin-top:0px;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>

<body class="top-navigation" style="background-color: #FeFeFe">

<div id="select_image_content">
    <script>
        url = "/monitor/graph/all/selectImg?ip=$ip"
        result = post({},url)
        document.write(result)
    </script>
    <div class="modal fade in" id="show_graph_select_ip" tabindex="-1"
         role="dialog" style="background-color: #FfFfFf; margin-top: 16px;"
         data-backdrop="false">
        <div class="modal-dialog"
             style="margin-top: 0px; width: 40%; ">
            <div class="modal-content"
                 style="height: 600px; width: 100%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">多服务器添加 </h4>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-9" style="float: left;">
                        <input class="form-control" onchange="setIpAddress($(this).val())" id="add_ip_address_id" style="float:left;" placeholder="输入完整IP地址">
                    </div>
                </div>
                <div class="col-sm-11"><br> </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-12" style="float: left;">
                     <textarea class="form-control" readonly rows="12" id="select_all_ip_textarea">$!{ip}</textarea>
                        </div>
                  </div>
                <div class="col-sm-7" style="float: left;"></div>
                <div class="col-sm-5" style="float: left;">
                <div style="margin-top: -80px;margin-bottom: -10px;" class="input-group-btn">

              <span class="input-group-btn">
                  <span class="input-group-btn">
                    <button style="margin-top: 12px;" onclick="clearAllImages()" class="btn btn-default btn-lg" type="button">
                        <i class="fa fa-trash-o"></i>&nbsp;取消
                    </button></span>
                    <span class="input-group-btn">
                      <button style="margin-bottom: 15px;margin-top: 27px;margin-left: 5px;"
                            onclick="selectAllImages()" class="btn btn-primary btn-lg"
                            type="button">
                        <i class="fa fa-area-chart"></i>&nbsp;确定
                    </button>
                  </span>
                  </div>
                </div>
            </div>
        </div>
</div>

<div id="wrappe1r">
    <div id="page-wrapper" class="gray-bg">
        #include("/index/header.vm")
    </div>
    <div class="ibox-title" style="margin-top: 0px;border: solid 1px #f0f0f0">
        <div class="col-md-2 pull-left" style="border: solid 1px #f0f0f0;height:37px;margin-top: -10px; ">
            <span onclick="imageSelect()" ><i class="fa fa-line-chart" style="margin-top:12px;"></i><strong>&nbsp;图像选择</strong></span>
        </div>
        <input id="is_all_select" type="hidden">
        <div class="col-md-4 pull-left" style="float:left;margin-left: -10%;">
            <span>#if($ip)$!{ip}#else
              <script>
                  url = "/resource/configure/groups/listData?draw=1&length=1000&start=1";
                  result = post({},url);
                  data = result["data"]
                  html = "<select style='height: 32px;border: none;margin-top: -9px;;' onchange='getIp($(this).val())'>"
                  for(i=0;i<data.length;i++){
                        html += "<option value='"+data[i]["groupsName"]+"'>"+data[i]["groupsName"]+"</option>"
                  }
                  html += "</select>"
                  document.write(html)
              </script>
            #end
            &nbsp;</span>
        </div>
        <div class="col-md-4 pull-left" style="float:left;margin-left: -24%;">
            <select  onchange="changeSelect($(this).val())" id="selectIp" style="border: none;height: 35px;border:1px solid #f0f0f0;margin-top: -10px;"><option></option></option></select>
        </div>
        <div class="col-md-4 pull-left" style="margin-top: -8px;margin-left: -25%;">
            <span class="input-group-addon form-control pull-left" style="width: 70px;border-right: 1px solid #f0f0f0;">时间段:</span>
            <select  onchange="timearea($(this).val())" class="input-group-addon  pull-left" STYLE="float:left;margin-left:0px;height:35px;border-left: 1px solid #f0f0f0;width: 130px;margin-right: 10px;">
                <option value="3">3d</option>
                <option value="7">7d</option>
                <option value="30">1m</option>
                <option value="">0.5y</option>
                <option value="">1y</option>
            </select>&nbsp;&nbsp;
        </div>
        <div class="input-group col-md-6 pull-right" style="margin-top:-33px;">
            <span class="input-group-addon">时间(<font color="red">单天选择</font>)：</span>
            <input type="text" class="form-control" id="startSendTime" name="startSendTime">
            <span class="input-group-addon">-</span>
            <input type="text" class="form-control" id="endSendTime" name="endSendTime">

        </div>
        <div style="margin-top: 5px;"><p>&nbsp;</p></div>
        <div class="input-group">
            <div class="input-group">
                <input type="text" class="form-control" id="search_ip" placeholder="输入IP地址">
                <span class="input-group-btn"> <button type="button" onclick="toPage($('#search_ip').val())" class="btn  btn-primary">看图
                </button> </span>
                  <span class="input-group-btn" >
                      <button type="button" style="margin-left: 10px;" onclick="toPage($('#search_ip').val(),1)" class="btn btn-outline btn-warning">区间图</button>
                      <button type="button" style="margin-left: 10px;" onclick="window.location='/monitor/graph/all/index?ip=$!{ip}&type=bind'" class="btn btn-outline btn-danger">小图</button>
                      <button type="button" style="margin-left: 10px;" onclick="imageSelect(1);" class="btn btn-outline btn-success">多维度选择</button>
                      <button type="button" style="margin-left: 10px;" onclick="imageSelect('','1');" class="btn btn-outline btn-default">实时查看</button>
                  </span>
            </div></div>
        <iframe src="" name="imgiframe" id="iframepage" frameborder="0" width="100%" scrolling="no" marginheight="0" marginwidth="0" onLoad="iFrameHeight()"></iframe>

</div>
</div>
</div>
</div>
<input type="hidden" id="select_ip_address">
<input type="hidden" id="img_type">
<script type="text/javascript" language="javascript">

    function loadiframe() {
        cookieName = "selectImages"
        chk_value = $.cookie(cookieName);
        if ("$!{select}"){
            chk_value = "$!{select}"
        }
        url = "/monitor/graph/all/sub?ip=$!{ip}&width=$!{width}$!{bind}&select="+chk_value
        $('#iframepage').attr("src", url);
    }

    loadiframe();

    function toPage(ip,type) {
        if(!type){
            $('#img_type').val("")
        }else{
            $('#img_type').val(1)
        }
        add = $('#select_ip_address').val()
        if(!add){
            $('#select_ip_address').val(ip)
        }
        if(add!=ip){
            selectimg(ip)
        }
        getCheckValue("",ip);
    }
    function iFrameHeight() {
        var ifm= document.getElementById("iframepage");
        var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
        if(ifm != null && subWeb != null) {
            ifm.height = subWeb.body.scrollHeight;
            ifm.width = subWeb.body.scrollWidth;
        }
    }

    function changeSelect(ip) {
        parent.layer.msg(JSON.stringify(ip),  {icon:1});
        $('#iframepage').attr('src','/monitor/graph/all/sub?ip='+ip)
    }
</script>

<script>
    function checkBoxAll(css) {
        check = $("."+css+"All").is(":checked");
        $("."+css).prop("checked",check);
    }
    function getIp(groupsName){
        url = "/resource/configure/server/listData?length=100000&start=1&draw=1";
        result = post({groupsName:groupsName.trim()},url);
        data = result["data"];

        html = ""
        for(i=0;i<data.length;i++){
            html += "<option value="+data[i]["ipAddress"]+">"+data[i]["ipAddress"]+"</option>"
        }
        $('#selectIp').html(html)
    }

    function getCheckValue(img,ip) {
        if(!ip){
            ip="$!{ip}"
        }
        if(!ip){
            ip = $('#search_ip').val();
        }
        startT= $('#startSendTime').val()
        endT = $('#endSendTime').val()
        if(!startT){
            startT = ""
        }
        if(!endT){
            endT = ""
        }


        var chk_value = [];
        $('input[name="isAction"]:checked').each(function(){
            chk_value.push($(this).val())
        })

        cookieName = "selectImages"
        $.cookie(cookieName, chk_value);

        type = $('#img_type').val()
        if(type){
            url = "/monitor/graph/all/sub?ip="+ip+"&select="+chk_value+"&startT="+startT+"&endT="+endT+"&type=1";
        }else{
            url = "/monitor/graph/all/sub?ip="+ip+"&select="+chk_value+"&startT="+startT+"&endT="+endT;
        }
        // 小图显示
        if("$!{bind}"){
            url = "/monitor/graph/all/sub?ip="+ip+"&select="+chk_value+"&startT="+startT+"&endT="+endT+"$!{bind}";
        }

        $('#iframepage').attr("src",url);
        if(img){
            $('#show_graph_imgages').modal("toggle")
        }
    }
    timePulush(getCheckValue)

    function selectimg(ip) {
        if(!ip){
            ip="$!{ip}"
        }
        url = "/monitor/graph/all/selectImg?ip="+ip;
        result = post({},url)
        $('#select_image_content').html(result)
    }
    function time_count(dd, dadd){
        //可以加上错误处理
        var a = new Date(dd)
        a = a.valueOf()
        a = a - dadd * 24 * 60 * 60 * 1000
        a = new Date(a)
        return a.getFullYear() + "-" + (a.getMonth() + 1) + "-" + a.getDate() ;
    }
    /**
     * 时间段选择
     */
    function timearea(value) {
        var d = new Date();
        var str = d.getFullYear() +"-" + (d.getMonth()+1) +"-" +d.getDate();
        $('#startSendTime').val( time_count(str, value))
        $('#endSendTime').val(str)
        getCheckValue();
    }

    setTimeout(function () {
        realtime = $.cookie("is_realtime");
        if(realtime=="1"){
            return;
        }
        window.location.reload();
    },180000)

    function reinitIframe(){
        var iframe = document.getElementById("iframepage");
        try{
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.max(bHeight, dHeight);
            iframe.height = height;
        }catch (ex){}
    }
    window.setInterval("reinitIframe()", 4000);
</script>

</body>

