<!DOCTYPE html>
    #include("/index/include.vm")
<script src="/static/js/plugins/highcharts.js"></script>
<title>多维度数据查看</title>

<div id="wrappe1r">
    <div class="ibox-title" style="margin-top: 0px;border: solid 1px #f0f0f0">
        <div class="col-md-4" style="float:left;">
            <strong>$!{ip}&nbsp;&nbsp;多维度选项&nbsp;&nbsp;
            </strong>
        </div>
    </div>
    <br>
    <div class="" style="padding:0px;margin-top: 0px;">

        <div id="allimageBorder" class="col-md-4"
             style="border:solid 1px #f0f0f0;width: 100%;padding: 15px;margin-left:0px;height:auto;">
            <div class="ibox float-e-margins">
                <input type="hidden" id="allimageBorderWidth" value="49">
                <div id="allimage" style="width: 100%;height: 470px;margin-bottom:-40px;"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<input type="hidden" id="selectGroups">

<script>//Flot Multiple Axes Line Chart

function getDatas() {
    datas = new Array();
    #foreach($ipadd in $ips)
        #foreach($name in $names)
            #foreach($n in $types.get($name))
                d = {}
                d["name"] = '${ipadd} ${n}';
                d["data"] = eval(post({}, "/monitor/graph/historyData?ip=${ipadd}&name=${n}&type=${name}"));
                datas.push(d)
            #end
        #end
    #end
    return datas;
}

function graphAll() {
    startT = $('#startSendTime').val()
    endT = $('#endSendTime').val()
    if (!startT) {
        startT = ""
    }
    if (!endT) {
        endT = ""
    }
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });

    Highcharts.theme = {
        colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
            '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
        chart: {
            backgroundColor: {
                linearGradient: {x1: 0, y1: 0, x2: 1, y2: 1},
                stops: [
                    [0, '#000000'],
                    [1, '#000000']
                ]
            },
            style: {
                fontFamily: '\'Unica One\', sans-serif'
            },
            plotBorderColor: '#606063'
        },
        title: {
            style: {
                color: '#E0E0E3',
                //textTransform: 'uppercase',
                fontSize: '20px'
            }
        },
        subtitle: {
            style: {
                color: '#E0E0E3',
                textTransform: 'uppercase'
            }
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 113,
            gridLineColor: '#f0f071',
            labels: {
                style: {
                    color: '#E0E0E3'
                }
            },
            lineColor: '#707073',
            minorGridLineColor: '#505053',
            tickColor: '#707073',
            title: {
                style: {
                    color: '#A0A0A3'

                }
            }
        },
        yAxis: {
            gridLineColor: '#707073',
            labels: {
                style: {
                    color: '#E0E0E3'
                }
            },
            lineColor: '#707073',
            minorGridLineColor: '#505053',
            tickColor: '#707073',
            title: {
                style: {
                    color: '#A0A0A3'
                }
            }
        },
        tooltip: {
            backgroundColor: 'rgba(0, 0, 0, 0.85)',
            style: {
                color: '#F0F0F0'
            }
        },
        plotOptions: {
            series: {
                dataLabels: {
                    color: '#B0B0B3'
                },
                marker: {
                    lineColor: '#333'
                }
            },
            boxplot: {
                fillColor: '#505053'
            },
            candlestick: {
                lineColor: 'white'
            },
            errorbar: {
                color: 'white'
            }
        },
        legend: {
            itemStyle: {
                color: '#E0E0E3'
            },
            itemHoverStyle: {
                color: '#FFF'
            },
            itemHiddenStyle: {
                color: '#606063'
            }
        },
        credits: {
            style: {
                color: '#666'
            }
        },
        labels: {
            style: {
                color: '#707073'
            }
        },

        drilldown: {
            activeAxisLabelStyle: {
                color: '#F0F0F3'
            },
            activeDataLabelStyle: {
                color: '#F0F0F3'
            }
        },

        navigation: {
            buttonOptions: {
                symbolStroke: '#DDDDDD',
                theme: {
                    fill: '#505053'
                }
            }
        },

        // scroll charts
        rangeSelector: {
            buttonTheme: {
                fill: '#505053',
                stroke: '#000000',
                style: {
                    color: '#CCC'
                },
                states: {
                    hover: {
                        fill: '#707073',
                        stroke: '#000000',
                        style: {
                            color: 'white'
                        }
                    },
                    select: {
                        fill: '#000003',
                        stroke: '#000000',
                        style: {
                            color: 'white'
                        }
                    }
                }
            },
            inputBoxBorderColor: '#505053',
            inputStyle: {
                backgroundColor: '#333',
                color: 'silver'
            },
            labelStyle: {
                color: 'silver'
            }
        },
        navigator: {
            handles: {
                backgroundColor: '#666',
                borderColor: '#AAA'
            },
            outlineColor: '#CCC',
            maskFill: 'rgba(255,255,255,0.1)',
            series: {
                color: '#7798BF',
                lineColor: '#A6C7ED'
            },
            xAxis: {
                gridLineColor: '#505053'
            }
        },

        scrollbar: {
            barBackgroundColor: '#808083',
            barBorderColor: '#808083',
            buttonArrowColor: '#CCC',
            buttonBackgroundColor: '#606063',
            buttonBorderColor: '#606063',
            rifleColor: '#FFF',
            trackBackgroundColor: '#404043',
            trackBorderColor: '#404043'
        },

        // special colors for some of the
        legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
        background2: '#505053',
        dataLabelsColor: '#B0B0B3',
        textColor: '#C0C0C0',
        contrastTextColor: '#F0F0F3',
        maskColor: 'rgba(255,255,255,0.3)'
    };

// Apply the theme
    Highcharts.setOptions(Highcharts.theme);
    t = "&startT=" + startT + "&endT=" + endT;
    $('#allimage').highcharts({
        chart: {
            type: "line",
            zoomType: 'x',
        },

        title: {
            text: '多维数据展示',
        },

//        subtitle: {
//            text: 'Source: Google Analytics'
//        },

        xAxis: {
            tickWidth: 1,
            lineWidth: 1,
            labels: {
                align: 'left',
                x: 3,
                y: 55,
            }
        },

        yAxis: [{ // left y axis
            title: {
                text: ""
            },
            labels: {
                align: 'left',
                x: 3,
                y: 6,
                format: '{value:.,0f}'
            },
            showFirstLabel: false
        },
        ],

        legend: {
            //verticalAlign: 'bottom',
            //floating: true,
            y: 0,
            align: "left",
            borderWidth: 0
        },

        tooltip: {
            shared: true,
            crosshairs: true
        },

        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function (e) {
                            hs.htmlExpand(null, {
                                pageOrigin: {
                                    x: e.pageX || e.clientX,
                                    y: e.pageY || e.clientY
                                },
                                headingText: this.series.name,
                                maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) + ':<br/> ' +
                                this.y + ' visits',
                                width: 200
                            });
                        }
                    }
                },
                marker: {
                    lineWidth: 1
                }
            }
        },
        exporting: {
            enabled: false
        },
        series: getDatas()
    });
}


function loadAll(zoom) {
    if (zoom) {
        setWidth("allimage")
    }
    graphAll()
}

function loadimg() {
    graphAll()
}
//timePulush(loadimg)
loadimg();
</script>
</body>
