#include("/index/include.vm")
<script src="/static/js/highstock.js"></script>

#foreach($name in $names)
    #foreach($n in $types.get($name))

    <div id="${name}${n.replace('---','').replace(".","_").replace(" ","")}Border" class="col-md-4"
         style="border:solid 1px #f0f0f0;margin-left:-20px;width: 48%;margin:10px;">
        <div class="ibox float-e-margins">
            <div class="title-img">
                        <span class="default pull-right" onclick="load${name}${n.replace('---','').replace(".","_").replace(" ","").replace("-","")}(1);"><i
                                class="fa fa-search-plus" style="font-size:19px;margin-top:10px;margin-right: 10px;"></i></span>
                <h5 align="center" style="margin-top: 10px;margin-left: 10px;">${name}&nbsp;${n.replace("SLASH","/").replace('---','&nbsp;')}</h5>
            </div>
            <input type="hidden" id="${name}${n.replace('---','').replace(".","_").replace(" ","")}BorderWidth" value="49">
            <div id="${name}${n.replace('---','').replace(".","_").replace(" ","")}"
                 style="width: 100%;height: 360px;margin-bottom:10px;"></div>
        </div>
    </div>
    #end
#end

<div id="Border" class="col-md-4"
     style="border:solid 1px #f0f0f0;margin-left:-20px;width: 48%;margin:10px;">
    <div class="ibox float-e-margins">
        <div class="title-img">
                        <span class="default pull-right" onclick=""><i
                                class="fa fa-search-plus" style="font-size:19px;margin-top:10px;margin-right: 10px;"></i></span>
            <h5 align="center" style="margin-top: 10px;margin-left: 10px;"></h5>
        </div>
        <input type="hidden" id="BorderWidth" value="49">
        <div id=""
             style="width: 100%;height: 360px;margin-bottom:10px;"></div>
    </div>
</div>
<script>//Flot Multiple Axes Line Chart

    #foreach($name in $names)
        #foreach($n in $types.get($name))
        function load${name}${n.replace('---','').replace(".","_").replace(" ","").replace("-","")}(zoom) {
            if (zoom) {
                setWidth('${name}${n.replace('---','').replace(".","_").replace(" ","")}',1)
            }

            stock_chart("1ab394", '${name}${n.replace(
                '---','').replace(" ","").replace(".","_")}', "${name} ${n.replace("SLASH","/").replace('---',' ')}", "${name} ${n.replace("SLASH","/").replace('---',' ')}", "/monitor/graph/historyData?ip=${ip}&name=${n}&type=$name","","$!{startT}","$!{endT}")

        }
##            setTimeout(function () {
##                load${name}${n.replace('---','').replace(".","_").replace(" ","").replace("-","")}()
##
##            },Math.round(Math.random()*10)*500)
        #end
    #end


function loadimg() {

    #foreach($name in $names)
        #foreach($n in $types.get($name))
        setTimeout(function () {
            load${name}${n.replace('---','').replace(".","_").replace(" ","").replace("-","")}()
        },Math.round(Math.random()*10)*500)
        #end
    #end

}

loadimg();

function stock_chart(color, id, title, ytitle, url, chartype,lstartT,lendT) {

    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });

    startT= $('#startSendTime').val()
    endT = $('#endSendTime').val()

    if(!startT){
        startT = ""
    }
    if(!endT){
        endT = ""
    }

    if(lstartT){
        startT=lstartT;
        endT = lendT;
    }
    console.log(startT)
    console.log(endT)
    lineWidth = 3
    lineWidthO = 5
    if(startT){
        lineWidth = 1
        lineWidthO= 1
    }


    // Create the chart
    $('#' + id).highcharts('StockChart', {

        rangeSelector: {
            selected: 1,
            height: 1,
            buttons:[],
        },

        title: {
            text: ""
        },
        legend: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        navigator : {
            height: 10,
        },
        colors: ["#" + color],
        scrollbar: {
            height: 1
        },
        series: [{
            name: ytitle,
            data: eval(post({}, url+"&startT="+startT+"&endT="+endT)),
            type: 'spline',
            tooltip: {
                valueDecimals: 2
            }
        }]
    });
}
</script>