#include("/index/include.vm")
<script src="/static/js/plugins/highcharts.js"></script>
<div id="image_all_id" style="  margin-top: 20px;">

</div>
<div id="image_all_id_realtime" style="margin-top: 20px;">
</div>

<div id="no_image_all_select">

    #foreach($ipadd in $ips)
        #foreach($name in $names)
            #foreach($n in $types.get($name))

                <div id="${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(".","_").replace(" ","")}Border" class="col-md-4"
                     style="border:solid 1px #f0f0f0;margin-left:-20px;#if($width.length()>0) width:${width}%;
                     #else width: 31%; #end margin:5px;">
                    <div class="ibox float-e-margins">
                        <div class="title-img">
                           <span class="default pull-right" title="全年历史" onclick="reload_day_img('$n', '$name','$ip')"><i
                                   class="fa fa-history" style="font-size:19px;margin-top:10px;margin-right: 10px;"></i></span>
                        <span class="default pull-right" title="加载大图显示" onclick="load${ipadd.replace(".", "_")}${name.replace("-", "")}${n.replace('---','').replace(".","_").replace(" ","").replace("-","")}(1);"><i
                                class="fa fa-search-plus" style="font-size:19px;margin-top:10px;margin-right: 10px;"></i></span>
                            <h5 align="center" style="margin-top: 10px;margin-left: 10px;">${ipadd} ${name}&nbsp;${n.replace("SLASH","/").replace('---','&nbsp;')}</h5>
                        </div>
                        <input type="hidden" id="${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(".","_").replace(" ","")}BorderWidth" value="32">
                        <div class="animated pulse" id="${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(".","_").replace(" ","")}"
                             style="width: 100%;height: 240px;margin-bottom:5px;text-align:center;"><img width="20%" height="50%;" src="/static/images/loading.gif"></div>
                        <div style="margin-left:10px;margin-top:10px;display:none;" id="show_image_data_${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(".","_").replace(" ","")}">
                            <table class="table  table-bordered table-hover dataTables-example" style="font-size:4px;padding:2px;">
                                <tr>
                                    <th></th>
                                    <th>last</th>
                                    <th>min</th>
                                    <th>avg</th>
                                    <th>max</th>
                                </tr>
                                <tr>
                                    <th><span><span class="label-primary"><span style="margin-left:9px;">&nbsp;</span></span></span></th>
                                    <th id="${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(".","_").replace(" ","")}last">1.1</th>
                                    <th id="${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(".","_").replace(" ","")}min">1.1</th>
                                    <th id="${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(".","_").replace(" ","")}avg">1.1</th>
                                    <th id="${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(".","_").replace(" ","")}max">1.1</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            #end
        #end
    #end

</div>
<script>//Flot Multiple Axes Line Chart

function reload_day_img(name, groups, ip) {
    url = "/monitor/graph/all/listImg?ip="+ip+"&name="+name+"&groups="+groups;
    window.location.href = url;
}

realtime = $.cookie("is_realtime");
is_range = $.cookie("is_range");
    #foreach($ipadd in $ips)
        #foreach($name in $names)
            #foreach($n in $types.get($name))
            function load${ipadd.replace(".", "_")}${name.replace("-", "")}${n.replace('---','').replace(".","_").replace(" ","").replace("-","")}(zoom) {
                if (zoom) {
                    setWidthMin('${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(".","_").replace(" ","")}',1)
                }
                if(realtime=="1") {
                    realtime_graph('${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(" ","").replace(".","_")}', "$!{ip}", "$name", "$n")
                }else if(is_range == "1"){
                    stock_chart("1ab394", '${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(" ","").replace(".","_")}', "${name} ${n.replace("SLASH","/").replace('---',' ')}", "${name} ${n.replace("SLASH","/").replace('---',' ')}", "/monitor/graph/historyData?ip=${ip}&name=${n}&dayNumber=$!{dayNumber}&type=$name","","$!{startT}","$!{endT}")

                }else{
                    graph_min("1ab394", '${ipadd.replace(".", "_")}${name}${n.replace('---','').replace(" ","").replace(".","_")}', "${name} ${n.replace("SLASH","/").replace('---',' ')}", "${name} ${n.replace("SLASH","/").replace('---',' ')}", "/monitor/graph/historyData?ip=${ipadd}&name=${n}&dayNumber=$!{dayNumber}&type=$name","","$!{startT}","$!{endT}")
                }
            }
            #end
        #end
    #end


function loadimg() {

    #foreach($ipadd in $ips)
        #foreach($name in $names)
            #foreach($n in $types.get($name))
                setTimeout(function () {
                    load${ipadd.replace(".", "_")}${name.replace("-", "")}${n.replace('---','').replace(".","_").replace(" ","").replace("-","")}()
                },Math.round(Math.random()*10)*500)
            #end
        #end
    #end

}

is_all_select = $.cookie("is_all_select");
if ("${select}"){
    is_all_select = ""
}
if (is_all_select){
    ips = $.cookie("select_all_ip_textarea").split("\n");
    newip = ""
    for (i=0;i<ips.length;i++){
        newip += ips[i]+","
    }
    cookieName = "selectImages"
    names = $.cookie(cookieName);
    groups = names.split(",")[0].split("|")[0]
    names_list = names.split(",")
    new_names = ""
    for (i=0;i<names_list.length;i++){
        gdata =  names_list[i].split("|")
        if(gdata[0]==groups){
            new_names += gdata[1]+","
        }
    }
    get_graph_all("image_all_id", newip,"", groups, new_names,"line","$!{startT}","$!{endT}")
    $('#no_image_all_select').hide();
    $('#image_all_select').show();
    $.cookie("is_realtime","0");
} else{
    $('#no_image_all_select').show();
    $('#image_all_select').hide();
    loadimg();
}


function stock_chart(color, id, title, ytitle, url, chartype,lstartT,lendT) {

    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });

    startT= $('#startSendTime').val()
    endT = $('#endSendTime').val()

    if(!startT){
        startT = ""
    }
    if(!endT){
        endT = ""
    }

    if(lstartT){
        startT=lstartT;
        endT = lendT;
    }
    lineWidth = 3
    lineWidthO = 5
    if(startT){
        lineWidth = 1
        lineWidthO= 1
    }


    // Create the chart
    $('#' + id).highcharts('StockChart', {
        chart: {
            type: "line",
            zoomType: 'x',
        },
        rangeSelector: {
            selected: 1,
            height: 1
        },

        title: {
            text: ""
        },
        legend: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        colors: ["#" + color],
        scrollbar: {
            height: 1
        },
        series: [{
            name: ytitle,
            data: eval(post({}, url+"&startT="+startT+"&endT="+endT)),
            type: 'spline',
            tooltip: {
                valueDecimals: 2
            }
        }]
    });
}
</script>