<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日志收集系统配置</title><body class="gray-bg top-navigation">
    #include("/index/include.vm")

<div id="">
    <div id="page-wrapper" class="gray-bg">
        #include("/index/header.vm")
<div id="addConfig"></div>
<body>
<div class=" animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button class="btn btn-success " type="button"
                            onclick="addConfig();">
                        <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">添加</span>
                    </button>

                </div>
                <div class="ibox-content" style="overflow:scroll;">
                    <table id="listTable"
                           class="table  table-bordered table-hover dataTables-example">
                        <thead>
                        <tr nowrap="nowrap" role="rows">
                            <th>系统名称</th>
                            <th>ip地址</th>
                            <th>收集服务器</th>
                            <th>日志路径</th>
                            <th>编辑/删除</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var site = "gather"
    function addConfig(id){
        if(!id){
            id=0;
        }
        url = "/log/gather/add";
        html = post({id:id}, url);
        $('#addConfig').html(html);
        $('#add_getui_config').modal('toggle');
    }

    function deleteConfig(id){

        url = "/log/gather/delete";
        parent.layer.confirm("点击同意后,将删除数据", {
            btn: ['同意','不同意'], //按钮
            shade: false//不显示遮罩
        }, function(){
            result = post({id:id}, url);
            parent.layer.msg(JSON.stringify(result),  {icon:1})
            location.reload();
        }, function(){
            parent.layer.msg("取消操作",  {icon:2})
        });

    }
    function saveConfig(id){
        data = get_form_data();
        if(id){
            data["gatherId"] = id;
        }
        if(!data["serverAddress"]){
            parent.layer.msg("ip地址必须填写",  {icon:2});
            return;
        }
        if(!data["itemname"]){
            parent.layer.msg("系统名称必须填写",  {icon:2});
            return;
        }

        if(data["logPath"].length<20){
            parent.layer.msg("日志路径必须配置",  {icon:2});
            return;
        }
        url = "/log/gather/save";
        result = post(data, url);
        parent.layer.msg(JSON.stringify(result),  {icon:1});
        //$('#add_getui_config').modal('toggle');
        $('#listTable').dataTable().fnReloadAjax();
    }
    function loadData(){
        $("#listTable").dataTable({
            "filter": true,//去掉搜索框
            "ordering": false, // 是否允许排序
            "paginationType": "full_numbers", // 页码类型
            "destroy": true,
            "processing": true,
            "serverSide": true,
            "scrollX": true, // 是否允许左右滑动
            "displayLength": 10, // 默认长度
            "ajax": { // 请求地址
                "url": "/log/gather/listData?t=" + new Date().getTime(),
                "type": 'post'
            },

            "columns": [ // 数据映射
                {"data": "itemname"},
                {"data": "serverAddress"},
                {"data": "ipAddress"},
                {"data": "logPath","mRender":function (data,type) {
                    if(!data) {return}
                    return "<span title="+data+">" + data.substring(0,50)+"</span>";
                }},
                {"sWidth": "150px", "data": "gatherId", "mRender": function(data, type, full) {
                    return '<button type="button" onclick="addConfig('+data+')" class="btn btn-sm btn-warning">编辑</button>&nbsp;'+
                           '<button type="button" onClick="deleteConfig('+data+')" class="btn btn-sm btn-danger">删除</button>';
                }
                },
            ],
            "fnRowCallback": function (row, data) { // 每行创建完毕的回调
                $(row).data('recordId', data.recordId);
            }
        });
    }

    loadData();

</script>
</body>
</html>
