<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>

    #include("/index/include.vm")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>运维可视化平台</title>
</head>
<style>
    /*.table{width: 100%;}*/

    /*.alarmdiv {*/
        /*width: 120%;*/
        /*margin-left:-15px;*/
        /*margin-top:-10px;*/
        /*margin-right:1px;*/
        /*margin-bottom: -20px;*/
    /*}*/

    table.show2 td{
        padding:8px;
    }


</style>
<body class="gray-bg top-navigation" >
<div style="display: none;">
    <input id="alarmPlayStatus" value="1"/>
    <iframe id="alarmPlay" src=""></iframe>
</div>
<div  class="gray-bg">
    #include("/index/header.vm")
    <script>
        var LOADING;
        function alarmPlay(id) {
            clearInterval(LOADING);
            cs = $('#displayStop' + id + 'Fa').attr('class');
            if(!cs){
                cs = ""
            }
            console.log(cs);
            if (cs.indexOf("fa-stop") != -1) {
                $('#displayStop' + id + 'Fa').removeClass('fa-stop');
                $('#displayStop' + id + 'Fa').addClass('fa-play');
                $('#alarmPlayStatus').val(1)

            } else {
                $('#displayStop' + id + 'Fa').removeClass('fa-play');
                $('#displayStop' + id + 'Fa').addClass('fa-stop');
                LOADING = setInterval(function () {
                    $('#alarmPlay').attr("src", "/static/mp3/alarm.mp3");
                }, 5000);
                $('#alarmPlayStatus').val(0)
            }

        }

        function loadGroupData(group){
            $('#alarmInformationId').modal("toggle")
            selectAlarmInformation(group);
        }
    </script>



    <!-- 异常信息查看 -->
    <div class="modal fade" id="alarmInformationId" tabindex="-1" style="z-index: 12050 !important;" role="dialog"  data-backdrop="false">
        <div class="modal-dialog" style="width:100%;margin-top:-10px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">异常信息查看</h4>
                </div>
                <div class="modal-body fadeInUp" style="overflow: scroll">
                    <table style="width: 120%;overflow: scroll;" class="table-bordered show2"  id="selectAlarmInformation" >
                        <thead>
                        <tr>
                            <th>ip地址</th>
                            <th>状态</th>
                            <th>指标名称</th>
                            <th>输出信息</th>
                            <th>监控类型</th>
                            <th>时间</th>
                            <th>清除</th>
                            <th>处理故障</th>
                            <th>历史图</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <style>
        .table tr{float: left;padding: 0px;margin: 0px;position:relative}
        .table tr td{padding: 4px;}
    </style>
<div style="margin-top:12px;float: left" class="container col-md-12" id="alarmDiv">
    </div>


</div>
<script>
    var cookieName = 'excludeGroups'
    function  clearCookie() {
        $.cookie(cookieName,"")
        setTimeout(function () {
            getData();
        }, 100)
    }

    function  excludeGroups(groups) {
        console.log(groups);
        old = $.cookie(cookieName)
        old = old + "," +groups
        $.cookie(cookieName,old);
        setTimeout(function () {
            getData();
        }, 100)
    }

    // 跳转到报表页面
    function  reportPage(groups) {
//        window.open("/monitor/report/index?groups="+groups);
        window.open("/monitor/reports/reportMonthGroupsNameIndexNameList?groupsName="+groups);
    }

    // 跳转到数据页面
    function  loadPage(groups,status,groupsName) {
        if (!groups){
            return;
        }
        if(!status){
            status = ""
        }
        window.open("/monitor/data/list?groups="+groups+"&status="+status+"&groupsName="+groupsName);
    }
    // 清除无效的agent报警
    function clearExpireServer(server) {
        url = "/monitor/global/clearServer?server="+server;
        result = post({}, url)
        parent.layer.msg(result, {icon: 1});
    }

    function selectAlarmInformation(groupsId, status, groupsName, server) {
        if(!server){
            server = ""
        }
        if(groupsId){
            $('#messages_groups_id').val(groupsId)
        }else{
            groupsId =     $('#messages_groups_id').val()
        }
        if(groupsName) {
            $('#messages_groups_name_id').val(groupsName)
        }else{
            groupsName = $('#messages_groups_name_id').val()
        }
        if(status){
            $('#alarmInformationId').modal("toggle")
        }
        if(!status){
            status = 1
        }

        $("#selectAlarmInformation").dataTable({
            "filter": false,//去掉搜索框
            "ordering": false, // 是否允许排序
            "paginationType": "full_numbers", // 页码类型
            "destroy": true,
            "processing": false,
            "serverSide": true,
            "scrollX": true, // 是否允许左右滑动
            "displayLength": 10, // 默认长度
            "bLengthChange": false, // 下啦选择每页显示
            "ajax": { // 请求地址
                "url": "/monitor/global/messages?t=" + new Date().getTime()+"&server="+server+"&status="+status+"&groupsId="+groupsId+"&groupsName="+groupsName,
                "type": 'post'
            },
            "columns": [ // 数据映射
                {"data":"server", "mRender":function (data, type, full) {
                    return '<span onclick="selectAlarmInformation(\'\',\'\',\'\',\''+full["serverId"]+'\')">'+data+'</span>';
                }},
                {"data":"status","mRender":function (data) {
                    if(data=="1"){
                        return "正常";
                    }
                    if(data=="2"){
                        return "<font color='red'>危险</font>";
                    }
                    if(data=="3"){
                        return "<font color='warning'>警告</font>";
                    }
                    if(data=="4"){
                        return "<font color='#f5f5f5'>未知</font>";
                    }
                }},
                {"data":"name","mRender":function (data) {
                    return data.replace(/SLASH/g, "/");
                }},
                {"data":"messages","mRender":function (data) {
                    if(data.length>50){
                        return "<span title='"+data+"'>"+ data.substring(0, 50) + "</span>";
                    }
                    return data;
                }},
                {"data":"command"},
                {"data": "time","mRender":function (data) {
                    if (data.indexOf("000") == -1){
                        data = data +"000"
                    }
                    return data?laydate.now(data, "YYYY-MM-DD hh:mm:ss"):"--";
                }},
                {"data":"server", "mRender":function (data) {
                    return "<a class='text-info' href='#' onclick=\"clearExpireServer('"+data+"')\"><i class='fa fa-trash-o'></i></a>";
                }},
                {"data":"id", "mRender":function (data,type,full) {
                     return "<a target='_self' href='/monitor/platform/alarm/list'><i class='fa fa-bug'></i></a>";
                }},
                {"data":"id", "mRender":function (data,type,full) {
                    if (full["name"] == "agent") {
                        return "<span onclick='window.open(\"/monitor/graph/all/index?ip=" + full["server"]+"\")'><i class='fa fa-area-chart'></i></span>";
                    } else {
                        name = full["groups"] + "|" + full["name"].replace(/\//g, "---")
                        return "<span onclick='window.open(\"/monitor/graph/all/index?ip=" + full["server"] + "&select=" + name + "&width=100\")'><i class='fa fa-area-chart'></i></span>";
                    }
                }}
            ],
            "fnRowCallback": function (row, data) { // 每行创建完毕的回调
                $(row).data('recordId', data.recordId);
            }
        });
    }


    // 35秒加载一次
    var PAGELOAD;
    count = 0
    PAGELOAD = setInterval(function () {
        getData()
        count += 1;
        if(count>100 && $.cookie('isautoload')==0){
            clearInterval(PAGELOAD);
        }
        if($.cookie('isautoload')==0){
            $('#loadDataTag').val("off")
        }else {
            $('#loadDataTag').val("on")
        }

    },32000)

    function setIsReload(status) {
        $.cookie('isautoload',status)
        if($.cookie('isautoload')==0){
            $('#loadDataTag').val("off")
        }else {
            $('#loadDataTag').val("on")
        }
    }
</script>
</div>
    &nbsp;<input type="text" style="margin-left:5px;width: 5%;float:left;" value="0" class="form-control" id="loadDataTag">
    <button  class="btn btn-primary" style="margin-left: 2px;" onclick="setIsReload(1)">自动刷新</button>
    <button  class="btn btn-default" onclick="setIsReload(0)">取消自动刷新</button>
</body>

#include("/index/footer.vm")
<input type="hidden" id="messages_groups_id">
<input type="hidden" id="messages_groups_name_id">
</div>
<script>

    function getData() {
        exclude = $.cookie(cookieName);
        if(!exclude){
            exclude= ""
        }
        html = ""
        url =  "/monitor/global/IndexData?t=" + new Date().getTime() + "&exclude="+exclude;
        result = post({}, url)
        data = eval(result)["data"];
        for (i=0;i<data.length;i++){
            html += setData(data[i],"", data[i]);
        }
        $('#alarmDiv').html("")
        $('#alarmDiv').html(html)
    }
    getData();

    function setData(data,type,full) {
        totle = full["ok"]+full["warning"] + full["danger"] + full["unknown"]
        alarmPlayStat = $('#alarmPlayStatus').val();
        if(alarmPlayStat==1){
            alarmcss = "fa-stop"
        }else{
            alarmcss = 'fa-start'
        }
        dangerCss  = ""
        displayStop = "display:none;"

        if (full["warning"] > 0 ) {
            dangerCss = "background-color:yellow";
        }
        if ( full["unknown"] > 0 ) {
            dangerCss = "background-color:#8f9d6a";
        }
        if (full["danger"] > 0 ) {
            dangerCss = "background-color:#ed5565";
            displayStop = ""
            if (!LOADING) {
                alarmPlay(full["id"])
            }
        }
//        selectAlarmInformation(groupsId, status, groupsName) {
        html = '<div class="col-md-3" style="padding-left: 5px;padding-right: 5px;border: 1px solid #f3f3f3;" ">'+
                '  <div class="ibox">'+
                '    <div class="ibox-title" style="border-top-width:1px;border-top-color:#1ab394;'+dangerCss+'" id="css'+full["id"]+'">' +
                '      <span title="点击忽略该组显示" style="margin-left:10px;" onClick="excludeGroups(\''+full["name"]+'\')" class="close-link">' +
                '          <i style="color:#BEBEBE;margin-top:-3px;font-size:15px;" class="fa fa-times"></i> </span>' +
                '            <span title="点击到报表页面" style="margin-left:10px;" onClick="reportPage(\''+full["name"]+'\')" class="close-link">' +
                '               <i style="color:#BEBEBE;margin-top:-3px;font-size:15px;" class="fa fa-line-chart"></i> </span>'+
                '                   <span id="displayStop'+full["id"]+'" style="'+displayStop+'" class="label label-default pull-right"'+
                '                          onclick="alarmPlay('+full["id"]+')">'+
                '                         <i id="displayStop'+full['id']+'Fa" class="fa '+ alarmcss +'"></i>'+
                '                    </span>'+
                '         <h5 onClick="loadPage(\''+full["name"]+'\')"> '+full["name"]+'</h5>'+
                '   </div>'+
                '   <div class="ibox-content">'+
                '      <p style="text-align: center; ">'+
                '               当前监控<strong>&nbsp;&nbsp;'+ totle+
                '              </strong>&nbsp;项  <span title="点击清空设置" onclick="clearCookie()"><i class="fa fa-trash-o">&nbsp;</i></span>'+
                '      </p>'+
                '      <div class="row m-t-sm">'+
                '          <div class="col-sm-3" style="float: left">'+
                '               <div class="font-bold" onclick="selectAlarmInformation('+full["id"]+',1,\''+full["name"]+'\')">正常</div>'+
                '            <span style="margin-top:9px;" onclick="loadPage('+full["id"]+',1,\''+full["name"]+'\')" class="btn btn-outline btn-primary">'+full["ok"]+'</span>'+
                '          </div>'+
                '          <div class="col-sm-3 " style="float: left">'+
                '             <div class="font-bold" onclick="selectAlarmInformation('+full["id"]+',2,\''+full["name"]+'\')">危险</div>'+
                '                <span style="margin-top:9px;"  onclick="loadPage('+full["id"]+',2,\''+full["name"]+'\')" class="btn btn-outline btn-danger" >'+full["danger"]+'</span>'

        html += '</div>'+
                '<div class="col-sm-3" style="float:left;">'+
                '    <div class="font-bold" onclick="selectAlarmInformation('+full["id"]+',3,\''+full["name"]+'\')">警告</div>'+
                '<span style="margin-top:9px;" onclick="loadPage('+full["id"]+',3,\''+full["name"]+'\')" class="btn btn-outline btn-warning">'+full["warning"]+'</span>'


        html += ' </div>'+
                '     <div class="col-sm-3" style="float: left">'+
                '         <div class="font-bold" onclick="selectAlarmInformation('+full["id"]+',4,\''+full["name"]+'\')">未知</div>'+
                '             <span style="margin-top:9px;"  onclick="loadPage('+full["id"]+',4,\''+full["name"]+'\')" class="btn btn-outline btn-default">'+full["unknown"]+'</span>'

        html += '        </div>'+
                '     </div>'+
                '  </div>'+
                '</div></div>'
        return html;
    }
    $(".col-md-3").mouseout(function(obj){
        $(this).removeClass("animated pulse")
    })
    $(".col-md-3").mouseover(function(obj){
        $(this).addClass("animated pulse")
    })

</script>

</body>

</html>
