<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图像模板管理</title><body class="gray-bg top-navigation">
    #include("/index/include.vm")
<div id="">
    <div id="page-wrapper" class="gray-bg">
        #include("/index/header.vm")
        <div id="addConfig"></div>
        <body>

        <div class=" animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <button class="btn btn-success " type="button"
                                    onclick="addConfig();">
                                <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">添加</span>
                            </button>
                            <button class="btn btn-outline btn-primary " type="button"
                                    onclick="window.location='/monitor/graph/merger/images/list'">
                                <i class="fa fa-linux"></i>&nbsp;&nbsp;<span class="bold">图像配置</span>
                            </button>
                        </div>
                        <div class="ibox-content" style="overflow:scroll;">
                            <table id="listTable"
                                   class="table  table-bordered table-hover dataTables-example">
                                <thead>
                                <tr nowrap="nowrap" role="rows">
                                    <th>图集名称</th>
                                    <th>图像数量</th>
                                    <th>IP数量</th>
                                    <th>描述信息</th>
                                    <th>最近修改人</th>
                                    <th>最近修改时间</th>
                                    <th>编辑/删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var site = "graph/merger/template/"
            function addConfig(id){
                if(!id){
                    id=0;
                }
                url = "/monitor/"+site+"/add";
                html = post({id:id}, url);
                $('#addConfig').html(html);
                $('#add_getui_config').modal('toggle');
            }


            function toGraph(id) {
              url = "/monitor/graph/merger/graph?templateId="+id
              window.open(url)
            }

            /**
             * 获取多选的值
             */
            function getMutilSelect(id,t) {
                to = $('#'+id).html()
                if(to){
                   to = to.replace(/,/,"")
                   to = to.replace(/#image_to/,"")
                }
                if(!to){return}
                to = to.replace(/<option value="/g,"");
                to = to.replace(/<\/option>/g," ");
                to = to.replace(/"/g,"")
                to = to.replace(/>/g," ")
                to = to.replace(/,/g,"")
                to_hosts = to.split(" ")
                hosts_ip = ""
                hosts = ""
                for(i=0;i<to_hosts.length;i++){
                    if(t) {
                        if (to_hosts[i].indexOf(".") != -1) {
                            hosts_ip += to_hosts[i] + ",";
                        } else {
                            hosts += to_hosts[i] + ",";
                        }
                    }else{
                        if(!isNaN(to_hosts[i])) {
                            hosts += to_hosts[i] + ",";
                        }
                    }
                }
                hosts_ip = hosts_ip.substring(0,hosts_ip.length-1)
                hosts = hosts.substring(0,hosts.length-2)
                return [hosts.replace(/[\r\n]/g,"").trim().replace(/[ ]/g,"").replace(/\ +/), hosts_ip]
            }

            function deleteConfig(id){
                url = "/monitor/"+site+"/deleteSave";
                parent.layer.confirm("点击同意后,将删除数据", {
                    btn: ['同意','不同意'], //按钮
                    shade: false//不显示遮罩
                }, function(){
                    result = post({id:id}, url);
                    parent.layer.msg(JSON.stringify(result),  {icon:1})
                    $('#listTable').dataTable().fnReloadAjax();
                }, function(){
                    parent.layer.msg("取消操作",  {icon:2})
                });

            }

            function saveConfig(id){
                data = get_form_data();
                if(id){
                    data["templateId"] = id;
                }else{
                    data["templateId"] = 0
                }

                ips = new Array()
                ip = new Array()
                width_list= new Array()
                height_list= new Array()
                select_data = new Array()
                for(j=1; j<30; j++){
                    ipadds = $("#ip"+j).val()
                    if(ipadds){
                        ip.push(ipadds)
                    }

                    widths = $("#width"+j).val()
                    if(widths){
                        width_list.push(widths)
                    }


                    height= $("#height"+j).val()
                    if(height){
                        height_list.push(height)
                    }
                    r = $("#undo_redo"+j+"to").val()
                    selectdata = getMutilSelect("undo_redo"+j+"_to")
                    if(selectdata){
                        select_data.push(selectdata[0])
                    }
                }

                map = {}
                map["ip"] = ip
                map["height"] = height_list
                map["width"] = width_list
                map["selectData"] = select_data
                data["gsonData"] = JSON.stringify(map)

                ids = getMutilSelect("undo_redo_to")
                if(ids){
                    data["graphIds"] = ids[0]
                }
                console.log(data)
                url = "/monitor/"+site+"/save";
                result = post(data, url);
                parent.layer.msg(JSON.stringify(result),  {icon:1});
                $('#listTable').dataTable().fnReloadAjax();
            }

            function loadData(){
                $("#listTable").dataTable({
                    "filter": false,//去掉搜索框
                    "ordering": false, // 是否允许排序
                    "paginationType": "full_numbers", // 页码类型
                    "destroy": true,
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true, // 是否允许左右滑动
                    "displayLength": 10, // 默认长度
                    "ajax": { // 请求地址
                        "url": "/monitor/"+site+"/listData?t=" + new Date().getTime(),
                        "type": 'post'
                    },
                    "columns": [ // 数据映射
                        {"data": "page"},
                        {"data": "gsonData", "mRender":function (data) {
                            if (data){
                                data = JSON.parse(data)
                                return data["selectData"].length ;
                            }
                            return ""
                        }},
                        {"data": "gsonData", "mRender":function (data) {
                            if (data){
                                data = JSON.parse(data)
                                return data["ip"].length ;
                            }
                            return ""
                        }},
                        {"data": "description"},
                        {"data": "lastModifyUser"},
                        {"data": "lastModifyTime","mRender":function (data) {
                            return data?laydate.now(data, "YYYY-MM-DD hh:mm:ss"):"--";
                        }},
                        { "data": "templateId", "mRender": function(data, type, full) {
                            return '<button type="button" onclick="addConfig('+data+')" class="btn btn-sm btn-warning">编辑</button>&nbsp;'+
                                    '<button type="button" onClick="deleteConfig('+data+')" class="btn btn-sm btn-danger">删除</button>&nbsp;' +
                                    '<button type="button" onClick="toGraph('+data+')" class="btn btn-sm btn-success">看图去</button>';
                        }
                        },
                    ],
                    "fnRowCallback": function (row, data) { // 每行创建完毕的回调
                        $(row).data('recordId', data.recordId);
                    }
                });
            }

            loadData();

        </script>
        </body>
</html>
